
    <div class="container" id="home-container">
        <div class="mt-4 p-5 bg-primary text-white rounded text-center jumbotron">
        <h1 class="display-4">Congratulations Marcus!!!</h1>
        <p class="lead">Happy Friday the 13th and congrats on passing your pee test!</p>
        <hr class="my-4">
        <p>This is a blog that I am working on (learner project), not done yet, but it has some functionality!</p>
        <p class="lead">
            <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg text-white"%>
        </p>
        </div> 
    </div> 



