
    <div class="container" id="home-container">
        <div class="mt-4 p-5 bg-primary text-white rounded text-center jumbotron">
        <h1 class="display-4">MARCUS is a Banker!!!!</h1>
        <p class="lead">Happy Friday the 13th and a hearty CONGRATS on passing your pee test!</p>
        <hr class="my-4">
        <p>Here's what I've been working on this week -- its still a little brittle, but we're getting somewhere!</p>
        <p class="lead">
            <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg text-white"%>
        </p>
        </div> 
    </div> 



