  <h1 class="text-center mt-4">Listing results</h1>

<div>

<ul>
<% if @articles %>
    <% @articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
    <% end %>
<% else %>

<<<<<<< HEAD
<li>Sorry, nothing about that...</li>


=======
<li>Sorry Bub, nothing doing!!!</li>
<li><%= @search_word%></li>
<li><%= Article.index_content['page']%></li>
>>>>>>> 805bb7ada0a0a33c76a47eedfdfc46123e01bfab

<% end %>
</ul>


</div>
