    <h1 class="text-center mt-4">Edit Category</h1>
    <%= render 'form' %>

    <div class="mb-3 text-center">
        <%= link_to '[ Cancel and return to category listing ]', category_path(@category), class: "text-info text-center" %>
    </div>