    <h1 class="text-center mt-4">New Category</h1>
    <%= render 'form' %>
    <div class="mb-3 text-center">
            <%= link_to '[ Cancel and return to categories listing ]', categories_path, class: "text-info text-center" %>
    </div>
